* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}

a {
  color: #262626;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

/* Nav */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px 0;
  font-size: 13px;
}

.main-nav .logo {
  width: 110px;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 10px;
}

.main-nav ul li a {
  padding-bottom: 2px;
}

.main-nav ul li a:hover {
  border-bottom: 2px solid #262626;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}

.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 2;
  display: none;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 15px;
}

.btn:hover {
  opacity: 0.9;
}

.text-lead {
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 1.2rem;
}

/* Front view CSS */
.frontview {
  width: 100%;
  height: 500px;
  background: url("../images/slide1.png") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.frontview h2,
.frontview p {
  margin-bottom: 10px;
}

.frontview .btn {
  margin-top: 20px;
}
/*  Products Section */
.products {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  font-weight: bold;
}
.products img {
  height: 40px;
}

.products > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 150px;
  padding: 10px 0;
}
.products > div:active {
  border: 2px solid black;
}
.products > div a:hover {
  text-decoration: underline;
}

/* Devices */
.tools {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.tools img {
  width: 100%;
  margin-bottom: 20px;
}

.tools h3 {
  margin-bottom: 5px;
}

.tools a {
  display: inline-block;
  padding-top: 10px;
  color: #0067b8;
  text-transform: uppercase;
  font-weight: bold;
}

.tools a:hover i {
  margin-left: 10px;
}

/* Carbon */
.carbon {
  width: 100%;
  height: 350px;
  background: url("../images/carbon.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #eeeeee;
  line-height: 2rem;
  padding: 50px;
}

/*  Covid 19 Section */
.covid19 {
  background-color: #eeeeee;
  height: 200px;
  text-align: center;
  padding-top: 30px;
}
.differnce {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  background-color: #eeeeee;
}
.differnce img {
  width: 100%;
}
.differnce .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 50px;
}

/* Social media */
.follow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 30px 0 30px;
}

.follow * {
  margin-right: 10px;
}

/* Main Footer */
.footer {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
}

.footer-main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.footer li {
  line-height: 2.8;
}

/* Secondary Footer */
.footer-secodary {
  padding: 20px 0;
}

.footer-secondary {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-secondary ul {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

/* Media Queries */

@media (max-width: 768px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-secondary {
    display: none;
  }
}

@media (max-width: 700px) {
  .menu-btn:hover {
    opacity: 0.5;
  }

  .main-nav ul.right-menu {
    margin-right: 50px;
  }

  .main-nav ul.main-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #f2f2f2;
    width: 50%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .main-nav ul.main-menu li {
    padding: 10px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }

  .main-nav ul.main-menu li:last-child {
    border-bottom: 0;
  }

  .products {
    grid-template-columns: repeat(3, 1fr);
  }
  .devices {
    grid-template-columns: repeat(2, 1fr);
  }
  .tools {
    grid-template-columns: repeat(2, 1fr);
  }

  .xbox .content p {
    display: none;
  }

  .xbox .content h2 {
    margin-bottom: 20px;
  }

  .carbon .content {
    width: 85%;
  }
  .differnce {
    grid-template-columns: 1fr;
  }

  .footer-main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .devices {
    grid-template-columns: 1fr;
  }
  .tools {
    grid-template-columns: 1fr;
  }
  .differnce .text {
    display: none;
  }
  .footer-main {
    grid-template-columns: 1fr;
  }

  .footer-main ul {
    margin-bottom: 20px;
  }
}
